/* 
 * GLOBAL 
 */
/* 
 * 1. GLOBAL - Reset Bootstrap style 
 */
body {
  padding-top: 50px;
}

.container {
  max-width: 850px;
  padding: 0.5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* 
 * 2. GLOBAL - custom font for headings
 */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Concert One", sans-serif;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.1rem;
}

/* 
 * 3. GLOBAL - custom links
 */
main a {
  border-top: 2px solid transparent;
  border-bottom: 2px solid var(--bs-info);
  font-weight: 600;
  text-decoration: none;
}
main a:hover {
  background: var(--bs-info);
  border-top: 2px solid var(--bs-info);
  border-bottom: 2px solid var(--bs-info);
  border-radius: 9px;
  color: var(--bs-white);
}

/* 
 * 4. HEADER - navigation bar 
 */
.navbar {
  background-color: #f9f9f9;
  border-bottom: 0.05rem solid #e5e5e5;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.navbar .navbar-brand {
  font-weight: 600;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .show > .nav-link {
  color: var(--bs-cyan);
}

.navbar .navbar-nav .nav-link {
  font-size: 1.15rem;
  font-weight: 400;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  border-radius: 9px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-nav .nav-link:hover {
  color: var(--bs-cyan);
  background-color: #ddd;
}

/* svg style */
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

/* 
 * 5. MAIN - content
 */
main article header .row,
main .main-header {
  margin-right: auto;
  margin-left: auto;
}

main .main-header a {
  font-size: 1rem;
  font-weight: 500;
}

main article .photo-img {
  border-radius: 50% 20% / 10% 40%;
  padding: 0.25rem;
  border: 0.3px solid #dee2e6;
  max-width: 100%;
}

main article header .lead {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

main .article-blog .vscode {
  background-color: var(--bs-dark);
  color: var(--bs-warning);
}

main .post a {
  border: 1px solid transparent;
  border-radius: 9px;
  padding: 0.4rem 0;
  font-weight: 400;
}

main .post a:hover {
  color: var(--bs-cyan);
  padding: 0.4rem;
  background-color: rgba(0, 0, 0, 0.03);
}

main .post p {
  font-size: 1.1rem;
  color: var(--bs-body-color);
  margin-bottom: 0;
}

main .post .text-muted {
  font-weight: var(--bs-body-font-weight);
}

/*
 * 6. FOOTER
 */
footer {
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

footer p:last-child {
  margin-bottom: 0;
}

/* BLOG POSTS Page
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}

.carousel-inner {
  border-radius: 9px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Blog post cards */
.card-post {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}
.card-post:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 9px;
}

.card-post a {
  font-weight: 400;
}

.card-link {
  font-family: "Noto Sans", sans-serif;
}
